.App {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: grey; 
}


.button-quote {
  height: 50px;
  width: 100px;
  border-radius: 10px;
}